<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Add an App</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="inputName">Name</label>
	    <div class="controls">
	      <input type="text" class="input-large" id="inputName" placeholder="Name" ng-model="appName" required>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputClient">Client</label>
	    <div class="controls">
	      <input type="text" class="input-large" id="inputClient" placeholder="Client" ng-model="appClient" required>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputDescription">Description</label>
	    <div class="controls">
	      <textarea id="inputDescription" placeholder="Description of app" rows="3" ng-model="appDescription" required></textarea>
	      <!--<input type="text" id="inputDescription" placeholder="Description of app"> -->
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputIcon">Icon URL</label>
	    <div class="controls">
	      <input type="text" class="input-large" id="inputIcon" placeholder="Icon URL" ng-model="appIcon" >
	    </div>
	  </div>
	  <div class="control-group">
	  	<label class="control-label" for="platformSelector">Platform</label>
	  	<div class="controls">
	  		<select id="platformSelector" ng-model="appPlatform">
			  <option>Android</option>
			  <option>iOS</option>
			  <option>HTML 5</option>
			</select>
		</div>
	  </div>
	</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="dismiss()">Close</button>
  <button class="btn btn-primary" ng-click="addApp(appName, appClient, appDescription, appIcon, appPlatform);dismiss()">Save changes</button>
</div>